*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #007BFF;
    --secondary-color: #6c757d;
    --background-color: #f5f5f5;
    --canvas-background-color: #45b660;
    --text-color: #333;
}

html, body{
    font-size: 16px;
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    padding: 0 20px;
}
h1{
    font-size: 3rem;
    color: var(--text-color);
}
h2{
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-top: 10px;
}
ul{
    list-style: none;
    margin-top: 20px;
}
li{
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
canvas{
    border: 1px solid #ccc;
    background: var(--canvas-background-color);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
